<a href="/users" class="brand-logo left">Run Tracker</a>
<a href="#" class="navbar-brand"><img src="https://i.pinimg.com/originals/0c/d4/e3/0cd4e30afd1d7cace3c19372932ef2eb.jpg"></a>

<ul class="right">
  <li><a href="/users/new">New User</a></li>
  <li><a href="/activity/new">New Activity</a></li>
</ul>
