
nav {
    background-color: #80d8ff !important;
    font-size: 14px;
    font-weight: bold;
}
.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 64px;
    padding: 0px;
    width: auto; 
}
.logo-img {
    max-height: 64px!important;
    padding: 15px 0!important;
}

.card-header {
    width: 100%;
    max-height: 300px;
  }

  .card-header img{
    width: 20%;
  }
  
  .card-content {
    width: 85%;
    margin: 35px auto;
  }

  .card-content h3 {
    font-size: 25px;
    margin-bottom: 0;
    color: #303F9F;
    font-family: 'Montserrat', sans-serif;
  }
  
  .card-content h4 {
    font-size: 14px;
    margin-top: 0;
    color: #FF5252;
    font-family: 'Montserrat', sans-serif;
  }
  
  .card-content p {
    color: #727272;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    
  }